# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.coverage
coverage.xml
htmlcov/

# SQLite local / Docker (API)
.data/

# Ambiente
.env
.venv/
venv/

# MLflow e Experimentos
mlruns/
mlflow.db

# Artefatos de Modelos e Imagens geradas
models/*.keras
models/*.pkl
models/images/

# Ignora os arquivos de dados reais, mas permite as pastas e arquivos .dvc
data/raw/*.csv
data/processed/*.csv
data/golden_set/*.csv
data/models/*.pkl

# Garante que arquivos de controle do DVC NUNCA sejam ignorados
!*.dvc
!dvc.lock

# IDE
.idea/
.vscode/

# Notebooks
.ipynb_checkpoints/

latest_results.json
serving.db

vector_store